<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand ml-5" href="/products">SZN</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-5">
              <li class="nav-item active">
                <a class="nav-link" href="/products">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              
              <ul class="navbar-nav mr-auto">
                <% if(!currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
                  </li>
                <% } else { %>
                  <li class="nav-item mr-4">
                    <a class="nav-link" href="/user/<%= currentUser._id %>">Signed as <%= currentUser.username %><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                  </li>
                <% } %>
              </ul>
              <% if(currentUser) { %>
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="/basket/<%= currentUser.id %>"><span class="sr-only">(current)</span><button type="button" class="btn btn-info mr-5">Basket</button></a>
                  </li>
                </ul>
                <% } %>
            </form>
          </div>
        </nav>
        