<% include partials/header %>


<div class="text-center" style="margin-top:100px">
    <br>
    <br>
    <h1 syle="margin-top:200px">Welcome to SZN!</h1>
    <br>
    <br>
    <p><a href="/products">View our products</a></p>
    <br>
    <p><a href="/register">Register your account</a></p>
    <br>
    <p><a href="/login">Login to your account</a></p>
</div>
    
<% include partials/footer %>