<% include ../partials/header %>
<div class="container">
  <div class="jumbotron mb-4">
      <h1 class="display-4">Welcome to SZN!</h1>
      <p class="lead">ORDER SOMETHING!</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/products/new" role="button">Add new product!</a>
      </p>
      <input class="form-control mr-sm-2 mb-3" type="search" placeholder="Search" aria-label="Search" style="width:300px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>  
</div>

    <div class = "container">
        <div class = "row">
            <% products.forEach(function(product){ %>
                <div class = "col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="<%= product.img %>" style="width:280px;height:140px"alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.price %>$</p>
                        <a href="/products/<%= product._id %>" class="btn btn-primary">More info</a>
                      </div>
                    </div>
                </div>
             <% }); %>  
        </div>
    </div>




<% include ../partials/footer %>
0